@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;900&family=Fraunces:opsz,wght@9..144,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

::selection {
    background: #f9ca24;
    color: #333;
}
html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}


img {
    width: 100%;
}

.myNavbar {
    background-color: #FFFDE3;
}

.links {
    margin-left: 1.5rem;
}

.linklar {
    font-weight: 600;
}

.linklar:hover {
    color: #fff;
}

.txt {
    font-size: 2.5rem;
    color: #2B4865;
    /* width: 100vw; */
}

.card-group {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section {
    padding: 4rem 0 2rem;
}

/* Car section */
.heading {
    text-align: center;
}

.heading span {
    font-weight: 500;
    color: var(--main-color);
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box {
    flex: 1 1 20rem;
    position: relative;
    height: 260px;
    border-radius: 0.5rem;
    overflow: hidden;
    /* border: 1.5px solid var(--main-color); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.pic {
    width: 100%;
    height: 80%;
    object-fit: cover;
    /* overflow: hidden; */
}

.pic:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.carName {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1.3rem;
    background: #415985;
    padding: 8px;
    color: #fff;
    border-radius: 00.5rem;
}

.box:hover .carName {
    background: var(--main-color);

}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.about-img {
    flex: 1 1 21rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.about-text {
    flex: 1 1 21rem;
}

.about-text span {
    font-weight: 500;
    color: var(--main-color);
}

.about-text h5 {
    font-size: 1.7rem;
}

.about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}

/* About */


.batafsil {
    background-color: var(--main-color);
    color: #fff;
    border:#fff;
}

.ourName {
    font-weight: 600;
}

/* footer */

footer {
    background-color: #415985;
    padding: 3rem 0 3rem;
}

footer a {
    margin-right: 1.3%;
    color: #fff;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 600 !important;


}

footer h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700 !important;
    color: #fff;
    margin-bottom: 2rem;
    /* margin-top: 0.5rem; */


}

footer a:hover {
    color: white;
}

.foot-link {
    text-underline-offset: 5px;
    padding-bottom: 5px;

}

.icons {
    margin-left: 1.3%;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}

.icons:hover {
    color: var(--main-color);
}

/* Section of abou company */

.info-text h3 {
    color: #415985;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

/* section about avto */
#more {
    display: none;
}

/* scroll button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #fff;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: --main(13, 168, 235);
  }